/*
	Gereral
*/

body {
	font-family: "Tahoma", "Verdana", "Arial";
	/*font-size: 10pt;*/
	margin: 0px;
}

.module_content {
}

a {
	outline: 0px;
	width: 160px;
}

/* navigation panel */
.ui-tabs-vertical .ui-tabs-nav {
	padding-top: 100px;
	padding-bottom: 100px;

	float: left;
	width: 200px;
	list-style-type: none;
}

/* navigation item */
.ui-tabs-vertical .ui-tabs-nav li {
	padding: 0px;
	margin: 0px;
	width: 100%;
	outline: 0px;
}

/* navigation item - active */
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
}

/* tab content */
.ui-tabs-vertical .ui-tabs-panel {
	width: 700px;
	margin-left: 210px;
	border-radius: 5px;
	border: 1px solid #d0d0d0;
	padding: 5px;
	background-color: #f3f3f0;
}
