/*
	Gereral
*/

.module_content {
	color: #606060;
}

/* navigation panel */
.ui-tabs-vertical .ui-tabs-nav {
	padding-top: 100px;
	padding-bottom: 100px;

	float: left;
	width: 200px;
	list-style-type: none;
}

